<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <link rel="stylesheet" href="style.css" type="text/css">
  <script src="./vue.min.js"></script>
</head>
<body>
  <div id="app">
    <section>
      <h2>入力:</h2>
      <select v-model="selectedInput">
        <option v-for="dev in inputDevices" :value="dev.deviceId">{{ dev.label }}</option>
      </select>
    </section>
    <section>
      <h2>出力:</h2>
      <select v-model="selectedOutput">
        <option v-for="dev in outputDevices" :value="dev.deviceId">{{ dev.label }}</option>
      </select>
      <small>スピーカーはハウリング注意です</small>
    </section>
    <section>
      <label>
        <input v-model="enableNoiseReduction" type="checkbox">
        ノイズ軽減
      </label>
      <small>目立つ音だけを取り込みます</small>
    </section>
    <section>
      <label>音量: x{{ gainValue }}</label>
      <input v-model="gainValue" type="range" min="0.0" max="4.0" step="0.1">
    </section>
    <section>
      <button @click="showDetails = !showDetails" class="link">
        {{ showDetails ? "- 閉じる" : "+ その他のオプション" }}
      </button>
    </section>
    <section v-if="showDetails">
      <label>残響: {{ wetValue }}</label>
      <input v-model="wetValue" type="range" min="0.0" max="1.0" step="0.01">
      <small>作業用 BGM に良いという噂です</small>
    </section>
    <section v-if="showDetails">
      <label>遅延: {{ delayValue }}s</label>
      <input v-model="delayValue" type="range" min="0.0" max="3.0" step="0.1">
    </section>
    <section v-if="showDetails">
      <label>カットオフ: {{ filterFreq }}hz</label>
      <input v-model="filterFreq" type="range" min="0" max="200" step="1">
    </section>
    <button class="button" @click="toggle">
      {{ enabled ? "停止" : "開始" }}
    </button>
  </div>
  <script src="./script.js"></script>
</body>
