<head>
  <title>Virtual Audio Cable(s)</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="manifest" href="manifest.json">
  <script src="./vue.min.js"></script>
</head>
<body>
  <div id="app">
    <section v-if="!standalone">
      <h1>Virtual Audio Cables</h1>
      ブラウザやマイクなどの音を好きなデバイスに出力できます。<br />
      配信やオンライン通話・会議に。
      <button v-if="installEvent" class="link" @click="install">
        アプリとしてインストールするとオフラインでも使えます！
      </button>
    </section>
    <section>
      <label>入力:</label>
      <select v-model="selectedInput">
        <option v-for="(ix, dev) in inputDevices" :value="ix">{{ dev.label }}</option>
        <option value="-1">別のタブから取り込み</option>
      </select>
    </section>
    <section>
      <label>出力:</label>
      <select v-model="selectedOutput">
        <option v-for="(ix, dev) in outputDevices" :value="ix">{{ dev.label }}</option>
      </select>
      <small>スピーカーはハウリング注意です</small>
    </section>
    <section>
      <button class="button" @click="addCable">+ 仮想ケーブルを追加</button>
    </section>
    <h2>仮想ケーブル</h2>
    <section>
      <div v-for="(ix, cable) in cables">
        <button
            :style="{ background: meterBgs[ix] }"
            class="button cable"
            @click="removeCable(ix)">
          X {{ cable.input.label }} → {{ cable.output.label }}
        </button>
        <input type="range" min="0" max="1" step="0.01" v-model="volumes[ix]" />
      </div>
    </section>
  </div>
  <script src="./script.js"></script>
</body>
